{% extends 'mychatapp/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container">
    <h5 class="alert alert-info">Log In</h5>
    <form method="post" action="">
      {% csrf_token %}

      <div class="mb-3">
        <label for="inputEmail" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" required>
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
    </form>
  </div>

{% endblock %}
